@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

body {
    background-color: black;
}

.card {
    display: flex;
    width: 90%;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    margin: 15px 0 0 20px;
}

.title h1 {
    font-size: 20px;
    color: white;
    padding: 6px 0 0 15px;
    font-weight: 500;
}

.img img {
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title p {
    color: gray;
    padding: 6px 0 0 15px;
    font-size: 14px;
}

.img {
    cursor: pointer;
    position: relative;
}

.capsule {
    position: absolute;
    color: white;
    bottom: 0;
    right: 5px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 4px;
    font-size: 12px;
}

