*{
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
}
nav ul {
    padding-top: 20px;
    display: flex;
    margin-left: 800px;
    gap: 50px;
    font-size: 30px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}