*{
    padding: 0;
    margin: 0;
}
:root{
    --color: rgb(20, 165, 255);
    --seccolor: rgb(145, 244, 255);
    --border: 2px
}
.nav > ul{
    list-style: none;
    display: flex;
}
.nav > ul > li{
    padding: 20px;
    background-color: var(--color);
    border: var(--border) solid black;
}
.title{
    padding: 20px;
}
p{
    background-color: var(--seccolor);
}
